<button id="button-new-patient" (click)="newPatient()">Afegir pacient</button>

@if (patientsResults$ | async; as resultObject) {
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Cognoms</th>
        <th>Data de naixement</th>
        <th>DNI</th>
        <th>Població</th>
        <th>CIP</th>
      </tr>
    </thead>
    <tr>
      <th>
        <div class="filter-input-container"> 
          <input [(ngModel)]="filters.nom" placeholder="Buscar nom">
          <button class="button-cancel-filter" *ngIf="filters.nom" (click)="filters.nom = ''">X</button>
        </div>
      </th>
      <th>
        <div class="filter-input-container">
          <input [(ngModel)]="filters.cognoms" placeholder="Buscar cognoms">
          <button class="button-cancel-filter" *ngIf="filters.cognoms" (click)="filters.cognoms = ''">X</button>
        </div>
      </th>
      <th>
        <div class="filter-input-container">
          <input [(ngModel)]="filters.dataNaixement" type="date">
          <button class="button-cancel-filter" *ngIf="filters.dataNaixement" (click)="filters.dataNaixement = ''">X</button>
        </div>
      </th>
      <th>
        <div class="filter-input-container">
          <input [(ngModel)]="filters.dni" placeholder="Buscar DNI">
          <button class="button-cancel-filter" *ngIf="filters.dni" (click)="filters.dni = ''">X</button>
        </div>
      </th>
      <th>
        <div class="filter-input-container">
          <input [(ngModel)]="filters.poblacio" placeholder="Buscar població">
          <button class="button-cancel-filter" *ngIf="filters.poblacio" (click)="filters.poblacio = ''">X</button>
        </div>
      </th>
      <th>
        <div class="filter-input-container">
          <input [(ngModel)]="filters.cip" placeholder="Buscar CIP">
          <button class="button-cancel-filter" *ngIf="filters.cip" (click)="filters.cip = ''">X</button>
        </div>
      </th>
    </tr>
    
    <tbody>
      @for (patient of paginationGetPagedPatients(resultObject); track patient.id) {
        <tr (click)="onRowClicked(patient)">
          <td>{{patient.nom}}</td>
          <td>{{patient.cognoms}}</td>
          <td>{{patient.dataNaixement}}</td>
          <td>{{patient.dni}}</td>
          <td>{{patient.poblacio}}</td>
          <td>{{patient.cip}}</td>
        </tr>
      }
    </tbody>
  </table>

  <div id="patients-pagination">
    <button (click)="paginationPreviousPage()" [disabled]="paginationCurrentPage === 1">Anterior</button>
    <span>Pàgina {{ paginationCurrentPage }} de {{ paginationTotalPages }}</span>
    <button (click)="paginationNextPage()" [disabled]="paginationCurrentPage === paginationTotalPages">Següent</button>
  </div>
}
